.buy-it-now__offers {
 min-height: 520px;
}

.buy-it-now__standard-offer {
  height: 60%;
  background-color: #445162;
  border-radius: 5px;
  padding: 0;
  line-height: 25px
}

.buy-it-now__premium-offer {
  height: 80%;
  background-color: #445162;
  border-radius: 5px;
  padding: 0;
  line-height: 25px;
}

.buy-it-now__lux-offer {
  height: 100%;
  background-color: #445162;
  border-radius: 5px;
  padding: 0;
  line-height: 25px;
}

.offers-price {
  height: 60px;
  background-color: white;
  color: #445162;
  margin-left: 2px;
  margin-right: 2px;
}

.offers__list-of-benefits{
  padding-top: 20px;
  font-size: 14px;
  padding-left: 10px;
  padding-right: 10px;
}

.buy-it-now__button {
  width: 100%;
  height: 40px;
  color: #445162;
  font-size: 18px;
  border-radius: 10px;
  outline: none;
}