.dignity-and-pluses {
  background-color: #f5f5f5;
}

.plus-item{
  display: flex;
  flex-direction: row;
  align-content: start;
}

.plus-item_text{
  padding-left: 10px;
  color: #445161;
}

.plus-icon{
  padding-right: 5px;
  padding-top: 5px;
}