.reviews-row {
  background-color: #f5f5f5;
}
.review-item {
  display: flex;
  flex-direction: row;
  padding-bottom: 25px;
}

.reviewer-photo {
  width: 280px;
  height: 75px;
  border-radius: 50px;
  background-color: #445161;
}

.review-item__text {
  margin-left: 30px;
  background-color: #ebebeb;
  border-radius: 10px;
  position: relative;
}

.review-item__text::after {
  content: '';
  position: absolute;
  left: -25px; top: 25px;
  border: 10px solid transparent;
  border-right: 15px solid #ebebeb;
}

.review-item__comment {
  font-size: 14px;
}