.screenshot-item{
  display: flex;
  flex-direction: row;
  padding-bottom: 25px;
}

.screenshot-item_title{
  font-size: 24px;
  padding-bottom: 5px;
}

.screenshot-item_text{
  padding-left: 15px;
  color: #445161;
}

.screenshot-item_desc{
  font-size: 16px;
}

.screenshot{
  padding-top: 8px;
  background-color: #445161;
  width: 800px;
  height: 150px;
}
