

@font-face {
    font-family: 'MyRoboto Regular';
    src: url('../fonts/roboto/Roboto-Regular.ttf');
    font-weight: 400;
    font-style: normal;
}

body {
    margin: 0;
    font-family: 'Arial', sans-serif;
}

ul {
    list-style: none;
}


@import "font-size";
@import "ProductName";
@import "AboutProduct";
@import "DignityAndPluses";
@import "Screenshots";
@import "Reviews";
@import "BuyItNow";
@import "Contacts";